<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>钉子装修</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="css/nec.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery-1.8.0.min.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="g-doc home">
        <!-- 头部 -->
        <div class="g-hd">
            <div class="g-hd-c f-oh">
                <div class="m-logo f-fl">
                    <a href="index.html">
                        <img src="images/logo.png" class="">
                    </a>
                </div>
                <div class="m-nav f-fl">
                    <a href="taocan.html" class="u-link">358套餐</a>
                    <a href="shejibao.html" class="u-link">免费设计包</a>
                    <a href="serve.html" class="u-link">服务品质</a>
                </div>
                <div class="m-more f-fr">
                    <a href="javascrpt:;" class="u-link">
                        <img src="images/head_1.png">
                        <p>报名预约</p>
                    </a>
                    <a href="javascrpt:;" class="u-link">
                        <img src="images/head_2.png">
                        <p>关于我们</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 头部 end-->

        <!-- 主要内容 -->
        <div class="g-bd">
            <!-- banner -->
            <div class="m-banner f-pr">
                <div class="b-content">
                    <div class="message">
                        <div class="">
                            <img src="images/hp_b-1.png">
                        </div>
                        <ul class="u-list f-oh">
                            <li>
                                <img src="images/hp_icon-1.png">
                                <p class="name">价格透明</p>
                            </li>
                            <li>
                                <img src="images/hp_icon-2.png">
                                <p class="name">绝无增项</p>
                            </li>
                            <li>
                                <img src="images/hp_icon-3.png">
                                <p class="name">一线大牌</p>
                            </li>
                            <li>
                                <img src="images/hp_icon-4.png">
                                <p class="name">极致服务</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- banner end-->

            <!-- compare -->
            <div class="m-compare">
                <div class="cp-content">
                    <ul class="u-nav f-oh">
                        <li class="active">
                            <img src="images/hp_cp-1.png" class="f-db">
                            <p>钉子装修358套餐</p>
                        </li>
                        <li>
                            <img src="images/hp_cp-2.png" class="f-db">
                            <p>其他公司</p>
                        </li>
                    </ul>
                    <div class="u-tab">
                        <div class="tab tab1 active">
                            <table border="1px" class="u-table">
                                <thead>
                                    <tr>
                                        <th class="td1">报价方式</th>
                                        <th class="td2 bg-success ft-white">创新一口价，￥358/<span>m<sup>2</sup></span></th>
                                        <th class="td3 bg-info">闭口合同</th>
                                        <th class="td4 bg-info">开口合同</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="td1">最终结算费用</th>
                                        <th class="td2 bg-warning">
                                            <p class="cp-p1">结算费用=合同金额</p>
                                            <p class="cp-p2">我们的预算报价绝无缺项漏项</p>
                                            <p class="cp-p2">绝无"按实结算"等名目</p>
                                            <p class="cp-p2">绝不增加1分钱！</p>
                                        </th>
                                        <th class="td3">
                                            <p class="cp-p1">结算费用不超过合同金额的5%</p>
                                            <p class="cp-p2">问题1：合同中有"按实结算"的项目，导致后期加价！</p>
                                            <p class="cp-p2">问题2：虽没加价，但材料太次，性价比差！</p>
                                            <p class="cp-p2">问题3：虽没加价，但本身报价就高，你还是不划算！</p>
                                        </th>
                                        <th class="td4">
                                            <p class="cp-p1">全部按实结算</p>
                                            <p class="cp-p2">报价很低，缺项漏项严重</p>
                                            <p class="cp-p2">加价离谱！</p>
                                            <p class="cp-p2">增加的费用可能高达100%！</p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="td1">以60m2建筑面积为例</th>
                                        <th class="td2 bg-warning">
                                            <p class="cp-p1">预算费用：￥358×60m2=￥21480</p>
                                            <p class="cp-p1">结算费用：￥21480</p>
                                        </th>
                                        <th colspan="2">
                                            <p class="cp-p1">预算费用：各种金额都有可能</p>
                                            <p class="cp-p1">结算费用：￥35000-￥48000（大约）</p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="td1">价格</th>
                                        <th class="td2 bg-warning">
                                            <p class="cp-p1">成本价（含人工费、部分材料费）</p>
                                            <p class="cp-p1">免管理费、安装费</p>
                                        </th>
                                        <th colspan="2">
                                            <p class="cp-p1">在成本价基础上增加20%-30%</p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="td1">报价单</th>
                                        <th class="td2 bg-warning">
                                            <p class="cp-p1">全公开，欢迎比价！</p>
                                        </th>
                                        <th colspan="2">
                                            <p class="cp-p1">保密，一般签合同前不会给业主，担心暴露价格内幕，怕您去比价</p>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="u-link f-oh">
                                <a href="javascrpt:;" class="link f-db f-fr">
                                    <img src="images/hp_btn-2.png" class="f-db">
                                </a>
                            </div>
                            <dl class="u-msg f-oh">
                                <dt>友情提示：如果其它装修公司报给您的价格比钉子装修低，请仔细核对以下项目</dt>
                                <dd>预算报价中的项目是否和钉子装修一致，如不一致，可能存在缺项漏项！</dd>
                                <dd>是否跟您说有"按实结算"项目，如有，后期一定会增加费用！</dd>
                                <dd>是否愿意跟您签"闭口合同"，如不愿意，一定存在漏项！</dd>
                                <dd>材料是否用的一线品牌，如不是，性价比一定不高！</dd>
                            </dl>
                        </div>
                        <div class="tab tab2">
                            <table border="1px" class="u-table">
                                <thead>
                                    <tr>
                                        <th class="td1">报价方式2</th>
                                        <th class="td2 bg-success ft-white">创新一口价，￥123/<span>m<sup>2</sup></span></th>
                                        <th class="td3 bg-info">闭口合同</th>
                                        <th class="td4 bg-info">开口合同</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="td1">最终结算费用</th>
                                        <th class="td2 bg-warning">
                                            <p class="cp-p1">结算费用=合同金额</p>
                                            <p class="cp-p2">我们的预算报价绝无缺项漏项</p>
                                            <p class="cp-p2">绝无"按实结算"等名目</p>
                                            <p class="cp-p2">绝不增加1分钱！</p>
                                        </th>
                                        <th class="td3">
                                            <p class="cp-p1">结算费用不超过合同金额的5%</p>
                                            <p class="cp-p2">问题1：合同中有"按实结算"的项目，导致后期加价！</p>
                                            <p class="cp-p2">问题2：虽没加价，但材料太次，性价比差！</p>
                                            <p class="cp-p2">问题3：虽没加价，但本身报价就高，你还是不划算！</p>
                                        </th>
                                        <th class="td4">
                                            <p class="cp-p1">全部按实结算</p>
                                            <p class="cp-p2">报价很低，缺项漏项严重</p>
                                            <p class="cp-p2">加价离谱！</p>
                                            <p class="cp-p2">增加的费用可能高达100%！</p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="td1">以60m2建筑面积为例</th>
                                        <th class="td2 bg-warning">
                                            <p class="cp-p1">预算费用：￥358×60m2=￥21480</p>
                                            <p class="cp-p1">结算费用：￥21480</p>
                                        </th>
                                        <th colspan="2">
                                            <p class="cp-p1">预算费用：各种金额都有可能</p>
                                            <p class="cp-p1">结算费用：￥35000-￥48000（大约）</p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="td1">价格</th>
                                        <th class="td2 bg-warning">
                                            <p class="cp-p1">成本价（含人工费、部分材料费）</p>
                                            <p class="cp-p1">免管理费、安装费</p>
                                        </th>
                                        <th colspan="2">
                                            <p class="cp-p1">在成本价基础上增加20%-30%</p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="td1">报价单</th>
                                        <th class="td2 bg-warning">
                                            <p class="cp-p1">全公开，欢迎比价！</p>
                                        </th>
                                        <th colspan="2">
                                            <p class="cp-p1">保密，一般签合同前不会给业主，担心暴露价格内幕，怕您去比价</p>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="u-link f-oh">
                                <a href="javascrpt:;" class="link f-db f-fr">
                                    <img src="images/hp_btn-2.png" class="f-db">
                                </a>
                            </div>
                            <dl class="u-msg f-oh">
                                <dt>友情提示：如果其它装修公司报给您的价格比钉子装修低，请仔细核对以下项目</dt>
                                <dd>预算报价中的项目是否和钉子装修一致，如不一致，可能存在缺项漏项！</dd>
                                <dd>是否跟您说有"按实结算"项目，如有，后期一定会增加费用！</dd>
                                <dd>是否愿意跟您签"闭口合同"，如不愿意，一定存在漏项！</dd>
                                <dd>材料是否用的一线品牌，如不是，性价比一定不高！</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!-- compare end-->

            <!-- materials -->
            <div class="m-materials">
                <div class="mr-content">
                    <div class="title">
                        <p>一线大牌建材，品质看得见</p>
                        <p>符合国家环保标准</p>
                    </div>
                    <ul class="u-list f-oh">
                        <li>
                            <img src="images/hp_mr-1.png" class="f-ma f-db">
                            <p class="name">兔宝宝E1级木工板</p>
                            <p class="desc">
                                专业生产销售高品质环保装修装饰用木板材，是上海地区板材行业销售龙头企业。
                            </p>
                        </li>
                        <li>
                            <img src="images/hp_mr-2.png" class="f-ma f-db">
                            <p class="name">海螺水泥</p>
                            <p class="desc">
                                海螺水泥产品质量卓越，享誉全国，并远销海外，"世界水泥看中国，中国水泥看海螺"。
                            </p>
                        </li>
                        <li>
                            <img src="images/hp_mr-3.png" class="f-ma f-db">
                            <p class="name">壁丽宝腻子粉</p>
                            <p class="desc">
                                壁丽宝内墙墙体腻子粉采用有机粘接料及各种无机超细、精白粉了精心配制而成。
                            </p>
                        </li>
                        <li>
                            <img src="images/hp_mr-4.png" class="f-ma f-db">
                            <p class="name">多乐士乳胶漆</p>
                            <p class="desc">
                                多乐士是英国帝国化工公司（ICI）属下的油漆品牌全球最大的建筑装饰漆供应商之一。
                            </p>
                        </li>
                    </ul>
                    <div class="u-link">
                        <a href="javascrpt:;" class="f-ib">
                            <img src="images/hp_btn-3.png" class="f-db">
                        </a>
                    </div>
                </div>
            </div>
            <!-- materials end-->

            <!-- server -->
            <div class="m-serve">
                <div class="sv-content">
                    <ul class="f-oh u-list">
                        <li class="list-1">
                            <h2 class="title">免费设计包</h2>
                            <div class="desc">
                                <p>免费量房，免费设计</p>
                                <p>提供全套图纸28-40张</p>
                                <p>量房当天出精准报价施工过程全程跟踪</p>
                            </div>
                            <div class="u-link">
                                <a href="javascrpt:;" class="f-ib">
                                    <img src="images/hp_btn-4.png" class="f-db">
                                </a>
                            </div>
                        </li>
                        <li class="list-2">
                            <h2 class="title">服务品质</h2>
                            <div class="desc">
                                <p>自有工人，终身质保</p>
                                <p>自有本地工人 10年资深经验</p>
                                <p>标准化施工规范售后免费终身质保</p>
                            </div>
                            <div class="u-link">
                                <a href="javascrpt:;" class="f-ib">
                                    <img src="images/hp_btn-5.png" class="f-db">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- server end-->
        </div>
        <!-- 主要内容 end-->

        <!-- 侧边栏 -->
        <ul class="g-slidebar">
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-1.png">
                    <p>关注</p>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-2.png">
                    <p>分享</p>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-3.png">
                    <p>预约</p>
                </a>
            </li>
            <li class="goTop">
                <a href="javascrpt:;">
                    <img src="images/slidebar-4.png">
                    <p>TOP</p>
                </a>
            </li>
        </ul>
        <!-- 侧边栏 end-->

        <!-- 底部浮动块 -->
        <div class="g-fbottom">
            <div class="fbt-content f-oh">
                <div class="f-fl desc">
                    <span>钉子装修</span>
                    <span class="desc-2">划算靠谱</span>
                </div>
                <a href="javascrpt:;" class="u-link f-fl">
                    <img src="images/hp_btn-1.png" class="f-db">
                </a>
                <div class="f-fl tel">客服电话<span class="phone">021-66292135</span></div>
            </div>
        </div>
        <!-- 底部浮动块 end-->

        <!-- 尾部 -->
        <div class="g-ft">
            <div class="ft-content">
                <ul class="u-list f-oh">
                    <li class="f-fl list-1 f-pr">
                        <img src="images/ft-1.png" class="f-db ft-logo">
                        <div class="f-oh serve">
                            <div class="f-fl itm">358套餐</div>
                            <div class="f-fl itm">免费设计包</div>
                            <div class="f-fl itm">服务品质</div>
                        </div>
                    </li>
                    <li class="f-fl list-2">
                        <p class="name">客服热线</p>
                        <div class="tel">
                            <p class="p1">021-66292135</p>
                            <p class="p2">工作时间：9:00-18:00</p>
                        </div>
                    </li>
                    <li class="f-fl list-3">
                        <img src="images/ft-3.png">
                    </li>
                </ul>
                <div class="wrap f-tac">
                    沪ICP备©2014-2015 52dingzi.com , All Rights Reserved
                </div>
            </div>
        </div>
        <!-- 尾部 end-->
    </div>



    <script>
        $(function(){
            page.init();
            page.home.init();
        });
    </script>
</body>
</html>