<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>钉子装修——服务品质</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="css/nec.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery-1.8.0.min.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="g-doc serve">
        <!-- 头部 -->
        <div class="g-hd">
            <div class="g-hd-c f-oh">
                <div class="m-logo f-fl">
                    <a href="index.html">
                        <img src="images/logo.png" class="">
                    </a>
                </div>
                <div class="m-nav f-fl">
                    <a href="taocan.html" class="u-link">358套餐</a>
                    <a href="shejibao.html" class="u-link">免费设计包</a>
                    <a href="serve.html" class="u-link">服务品质</a>
                </div>
                <div class="m-more f-fr">
                    <a href="javascrpt:;" class="u-link">
                        <img src="images/head_1.png">
                        <p>报名预约</p>
                    </a>
                    <a href="javascrpt:;" class="u-link">
                        <img src="images/head_2.png">
                        <p>关于我们</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 头部 end-->

        <!-- 主要内容 -->
        <div class="g-bd">
            <!-- banner -->
            <div class="m-sv-banner">
            </div>
            <!-- banner end-->

            <!-- 服务流程 -->
            <div class="m-ss">
                <div class="m-content">
                    <h1 class="title f-tac f-pr">
                        服务流程
                    </h1>
                    <div class="u-msg f-pr">
                        <img src="images/serve/sv_ss.png" class="f-db f-ma">
                        <div class="num num1">1</div>
                        <div class="num num2">2</div>
                        <div class="num num3">3</div>
                        <div class="num num4">4</div>
                        <div class="num num5">5</div>
                        <div class="num num6">6</div>
                        <div class="num num7">7</div>
                        <div class="num num8">8</div>
                    </div>
                </div>
            </div>
            <div class="m-ss-promise">
                <div class="m-content">
                    <div class="f-tac">
                        <ul class="f-oh f-ib u-list">
                            <li class="f-tac f-fl">
                                <img src="images/serve/sv_ss-1.png" class="f-db f-ma">
                                <h2 class="title">全程视频监控</h2>
                                <div class="desc">
                                    <p>每项细节工程都可亲眼所见，而且所见即所得！</p>
                                </div>
                            </li>

                            <li class="f-tac f-fl">
                                <img src="images/serve/sv_ss-2.png" class="f-db f-ma">
                                <h2 class="title">无条件返工</h2>
                                <div class="desc">
                                    <p>您可以找任何一个监理检查，任何一项不达标，立即无条件免费重拆返工，到您满意为止！</p>
                                </div>
                            </li>

                            <li class="f-tac f-fl">
                                <img src="images/serve/sv_ss-3.png" class="f-db f-ma">
                                <h2 class="title">自有10年资深工人</h2>
                                <div class="desc">
                                    <p>施工人员公司聘用全部为上海南汇优质工人，队长全部10年以上工龄，更值得信赖。</p>
                                </div>
                            </li>

                            <li class="f-tac f-fl">
                                <img src="images/serve/sv_ss-4.png" class="f-db f-ma">
                                <h2 class="title">工期进度保证</h2>
                                <div class="desc">
                                    <p>按照钉子装修标准施工进度表施工，50日完工，不拖一天工！</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 服务流程 end-->

            <!-- 施工进度表 -->
            <div class="m-cpc">
                <div class="m-content">
                    <h1 class="title f-tac f-pr">
                        钉子装修标准施工进度表，保证50日完工
                    </h1>
                    <div class="u-msg">
                        <div class="progress1">
                            <div class="step f-fl active"></div>
                            <div class="step f-fl"></div>
                            <div class="step f-fl"></div>
                            <div class="step f-fl"></div>
                            <div class="step f-fl"></div>
                            <div class="step f-fl"></div>
                            <div class="step f-fl"></div>
                            <div class="clearBoth"></div>
                        </div>
                        <div class="f-tac">
                            <div class="progress2 f-oh f-ib">
                                <div class="step f-fl active f-pr">
                                    <div class="til">拆旧</div>
                                    3-5天
                                </div>
                                <div class="step f-fl f-pr">
                                    <div class="til">水电</div>
                                    7-10天
                                </div>

                                <div class="step f-fl f-pr">
                                    <div class="til">泥工</div>
                                    10-15天
                                </div>

                                <div class="step f-fl f-pr">
                                    <div class="til">木工</div>
                                    10-15天
                                </div>

                                <div class="step f-fl f-pr">
                                    <div class="til">油漆</div>
                                    10-13天
                                </div>

                                <div class="step f-fl f-pr">
                                    <div class="til">安装</div>
                                    2-7天
                                </div>

                                <div class="step f-fl f-pr">
                                    <div class="til">保洁</div>
                                    1天
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <h3 class="f-tac">各阶段准备材料</h3>
                            <div class="group f-oh">
                                <div class="desc f-fl">
                                    <p class="f-pr">拆旧阶段准备电线、强弱电箱及内部配件；通知橱柜厂家初测，出厨房水电图阳台封窗上门测量；购买瓷砖、橱柜、厨电、水槽、热水器</p>
                                    <p class="f-pr">水电阶段通知瓷砖送货；选板材、涂料颜色淋浴房初测制作挡水条；隐蔽工程验收</p>
                                    <p class="f-pr">泥工阶段预定套装门、门套；预埋淋浴房挡水；防盗门测量安装；通知套装门上门测量橱柜上门复测；淋浴房上门测量；通知购买铝扣板吊顶、浴霸、吸顶灯、排气扇</p>
                                </div>
                                <div class="desc f-fl">
                                    <p class="f-pr">木工阶段厨房柜体安装(厂方）；脱排、热水器、煤气灶安装（厂方）开关插座，需安装五金件进场；地板安装；泥木验收</p>
                                    <p class="f-pr">油漆阶段准备后期安装物品（洁具、卫浴、五金等）通知地板安装；门套安装</p>
                                    <p class="f-pr">安装阶段各种设备安装，调试；室内各个工艺的检查修补(开关、插座、灯具、五金及其他业主要求）</p>
                                    <p class="f-pr">保洁阶段保洁验收，竣工验收</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 施工进度表 end-->

            <!-- 专属客服 -->
            <div class="m-pa">
                <div class="m-content">
                    <h1 class="title f-tac f-pr">
                        专属客服全程跟踪服务
                    </h1>
                    <div class="u-msg">
                        <div class="f-tac">
                            <ul class="u-list f-ib f-oh">
                                <li class="f-tac f-fl itm1">
                                    <h2 class="name">2小时快速上门</h2>
                                    <div class="desc">
                                        <p>专属客服全程跟踪服务</p>
                                        <p>有投诉2小时快速上门</p>
                                        <p>终身免费质保</p>
                                    </div>
                                </li>
                                <li class="f-tac f-fl itm2">
                                    <h2 class="name">1对1专属客服</h2>
                                    <div class="desc">
                                        <P>为您安排专属客服，</P>
                                        <P>装修全程您只需和他1个人联系，</P>
                                        <P>即可解决全部问题。无须您面对</P>
                                        <P>各种材料商、施工队，让您真正省心。</P>
                                    </div>
                                </li>
                                <li class="f-tac f-fl itm3">
                                    <h2 class="name">7×12小时服务</h2>
                                    <div class="desc">
                                        <P>无论工作日还是周末，</P>
                                        <P>您都可以随时找到客服。</P>
                                        <P>纠纷快速响应，对于您的投诉，</P>
                                        <P>我们30分钟内给出解决方案，2小时内上门服务！</P>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quality f-tac">
                        <h2 class="title2">售后终身免费质保</h2>
                        <div class="desc">
                            <p>
                            装修完了拍拍屁股走人？不！我们会为您负责到底！您可以享受终身免费质保服务，不收人工费，只收取材料费。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 专属客服 end-->
        </div>
        <!-- 主要内容 end-->

        <!-- 侧边栏 -->
        <ul class="g-slidebar">
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-1.png">
                    <p>关注</p>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-2.png">
                    <p>分享</p>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-3.png">
                    <p>预约</p>
                </a>
            </li>
            <li class="goTop">
                <a href="javascrpt:;">
                    <img src="images/slidebar-4.png">
                    <p>TOP</p>
                </a>
            </li>
        </ul>
        <!-- 侧边栏 end-->

        <!-- 锚点滚动 -->
        <div class="g-scroll">
            <div class="f-tac">
                <ul class="u-list f-oh f-ib">
                    <li class="f-fl itm">
                        <img src="images/serve/sv_icon-1.png" class="pic">
                        <p>服务流程</p>
                    </li>
                    <li class="f-fl itm">
                        <img src="images/serve/sv_icon-2.png" class="pic">
                        <p>施工进度</p>
                    </li>
                    <li class="f-fl itm">
                        <img src="images/serve/sv_icon-3.png" class="pic">
                        <p>专属客服</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 锚点滚动 end-->

        <!-- 底部浮动块 -->
        <div class="g-fbottom">
            <div class="fbt-content f-oh">
                <div class="f-fl desc">
                    <span>钉子装修</span>
                    <span class="desc-2">划算靠谱</span>
                </div>
                <a href="javascrpt:;" class="u-link f-fl">
                    <img src="images/hp_btn-1.png" class="f-db">
                </a>
                <div class="f-fl tel">客服电话<span class="phone">021-66292135</span></div>
            </div>
        </div>
        <!-- 底部浮动块 end-->

        <!-- 尾部 -->
        <div class="g-ft">
            <div class="ft-content">
                <ul class="u-list f-oh">
                    <li class="f-fl list-1 f-pr">
                        <img src="images/ft-1.png" class="f-db ft-logo">
                        <div class="f-oh serve">
                            <div class="f-fl itm">358套餐</div>
                            <div class="f-fl itm">免费设计包</div>
                            <div class="f-fl itm">服务品质</div>
                        </div>
                    </li>
                    <li class="f-fl list-2">
                        <p class="name">客服热线</p>
                        <div class="tel">
                            <p class="p1">021-66292135</p>
                            <p class="p2">工作时间：9:00-18:00</p>
                        </div>
                    </li>
                    <li class="f-fl list-3">
                        <img src="images/ft-3.png">
                    </li>
                </ul>
                <div class="wrap f-tac">
                    沪ICP备©2014-2015 52dingzi.com , All Rights Reserved
                </div>
            </div>
        </div>
        <!-- 尾部 end-->
    </div>



    <script>
        $(function(){
            page.init();
            page.serve.init();
        });
    </script>
</body>
</html>