<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>钉子装修——免费设计</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="css/nec.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery-1.8.0.min.js"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="g-doc">
        <!-- 头部 -->
        <div class="g-hd">
            <div class="g-hd-c f-oh">
                <div class="m-logo f-fl">
                    <a href="index.html">
                        <img src="images/logo.png" class="">
                    </a>
                </div>
                <div class="m-nav f-fl">
                    <a href="taocan.html" class="u-link">358套餐</a>
                    <a href="shejibao.html" class="u-link">免费设计包</a>
                    <a href="serve.html" class="u-link">服务品质</a>
                </div>
                <div class="m-more f-fr">
                    <a href="javascrpt:;" class="u-link">
                        <img src="images/head_1.png">
                        <p>报名预约</p>
                    </a>
                    <a href="javascrpt:;" class="u-link">
                        <img src="images/head_2.png">
                        <p>关于我们</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 头部 end-->

        <!-- 主要内容 -->
        <div class="g-bd">
            <!-- banner -->
            <div class="m-sjb-banner">
                <div class="m-content f-tac">
                    <img src="images/shejibao/sjb_banner-1.png" class="pic">
                    <div class="f-tac u-btn">
                        <a href="javascrpt:;" class="f-ib">
                            <img src="images/shejibao/sjb_btn-1.jpg" class="f-db">
                        </a>
                    </div>
                </div>
            </div>
            <!-- banner end-->

            <!-- 免费量房 -->
            <div class="m-fhr m-sjb-msg">
                <div class="m-content">
                    <h1 class="title f-tac f-pr">
                        免费量房·现场报价
                    </h1>
                    <div class="u-msg f-oh">
                        <div class="f-fl itm pic">
                            <img src="images/shejibao/sjb_title-1.png" class="f-db">
                        </div>
                        <div class="f-fl itm details">
                            <h2 class="name">
                                <p>免费量房，现场精准报价</p>
                                <p>别人签了合同才给预算报价单，我们当场免费就给！</p>
                            </h2>
                            <div class="desc">
                                <p> <label class="key">专业</label>    设计师亲自上门，专业设备精准量房</p>
                                <p> <label class="key">快速</label>    首推标准化装修，量完房10分钟内，立刻给您精准报价</p>
                                <p> <label class="key">透明</label>    预算价格透明，现场就给，您可以拿着全套报价和别家进行对比</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 免费量房 end-->

            <!-- 免费设计 -->
            <div class="m-fdp m-sjb-msg">
                <div class="m-content">
                    <h1 class="title f-tac f-pr">
                        免费设计·多套方案
                    </h1>
                    <div class="u-msg f-oh">
                        <div class="f-fl itm details">
                            <h2 class="name">
                                <p>免费设计</p>
                                <p>解决户型问题、采光问题、空间利用问题</p>
                                <p>免费沟通设计方案，绘制房屋平面设计图</p>
                            </h2>
                            <div class="desc">
                                <p>设计阶段您将获得：</p>
                                <p class="li f-pr">原有建筑测绘图</p>
                                <p class="li f-pr">改建平面图（墙体改建图）</p>
                                <p class="li f-pr">平面布置图</p>
                            </div>
                        </div>
                        <div class="f-fl itm pic">
                            <img src="images/shejibao/sjb_title-2.png" class="f-db">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 免费设计 end-->

            <!-- 全部13套图纸 -->
            <div class="m-tdp m-sjb-msg">
                <div class="m-content">
                    <h1 class="title f-tac f-pr">
                        全部13套设计图纸
                    </h1>
                    <div class="u-msg f-oh">
                        <div class="f-fl itm pic">
                            <img src="images/shejibao/sjb_title-3.png" class="f-db">
                        </div>
                        <div class="f-fl itm details">
                            <h2 class="name">
                                <p>13套设计图纸一张都不少</p>
                                <p>所有施工有章可循</p>
                            </h2>
                            <div class="desc f-fwb">
                                <p>别家一般只给3张最基本的设计图，即原有建筑测绘图、改建平面图、平面布置图</p>
                                <p>而具体的施工图一张都没有！导致装修结果和效果图相差甚远！</p>
                            </div>
                            <div class="desc">
                                <p>钉子装修将给您全套13种设计图纸，共28-40张，确保所有施工都有章可循！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 全部13套图纸 end-->

            <!-- 全部13套图纸滚动 -->
            <div class="m-tdp-slide">
                <div class="m-content">
                    <div class="slideTxtBox f-pr">
                        <div class="bd">
                            <ul>
                                <li class="itm">
                                    <img src="images/shejibao/sjb_tdp-1.jpg" class="pic f-db">
                                    <p>原有建筑测绘图</p>
                                </li>
                                <li class="itm">
                                    <img src="images/shejibao/sjb_tdp-1.jpg" class="pic f-db">
                                    <p>原有建筑测绘图</p>
                                </li>
                                <li class="itm">
                                    <img src="images/shejibao/sjb_tdp-1.jpg" class="pic f-db">
                                    <p>原有建筑测绘图</p>
                                </li>
                                <li class="itm">
                                    <img src="images/shejibao/sjb_tdp-1.jpg" class="pic f-db">
                                    <p>原有建筑测绘图</p>
                                </li>
                                <li class="itm">
                                    <img src="images/shejibao/sjb_tdp-1.jpg" class="pic f-db">
                                    <p>原有建筑测绘图</p>
                                </li>
                            </ul>
                        </div>
                        <a class="next">
                            <img src="images/shejibao/arrow-right.png" class="f-db"></a>
                        <a class="prev">
                            <img src="images/shejibao/arrow-left.png" class="f-db"></a>
                        <div class="hd">
                            <ul class="f-oh bargroup">
                                <li class="f-fl on">
                                    <img src="images/shejibao/sjb_tdp-icon-1.jpg" class="f-db">
                                </li>
                                <li class="f-fl ">
                                    <img src="images/shejibao/sjb_tdp-icon-1.jpg" class="f-db">
                                </li>
                                <li class="f-fl ">
                                    <img src="images/shejibao/sjb_tdp-icon-1.jpg" class="f-db">
                                </li>
                                <li class="f-fl ">
                                    <img src="images/shejibao/sjb_tdp-icon-1.jpg" class="f-db">
                                </li>
                                <li class="f-fl ">
                                    <img src="images/shejibao/sjb_tdp-icon-1.jpg" class="f-db">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 全部13套图纸滚动 end-->

            <!-- 施工全程 -->
            <div class="m-tcs m-sjb-msg">
                <div class="m-content">
                    <h1 class="title f-tac f-pr">施工全程·跟踪服务</h1>
                    <div class="u-msg f-oh">
                        <div class="f-fl itm details">
                            <h2 class="name">
                                <p>全程跟踪施工进度</p>
                                <p>让设计落到实处</p>
                            </h2>
                            <div class="desc">
                                <p>设计师全程跟踪！主动联系，不需要您操心！</p>
                                <p>拆旧、水电、泥木、油漆、选材……每个阶段都与您同在！</p>
                            </div>
                        </div>
                        <div class="f-fl itm pic">
                            <img src="images/shejibao/sjb_title-4.png" class="f-db"></div>
                    </div>
                    <div class="tcs-slide f-pr">
                        <div class="bd">
                            <ul>
                                <li class="item">
                                    <div class="itm-content f-oh">
                                        <img src="images/shejibao/sjb_tcs-1.jpg" class="pic f-db f-fl">
                                        <div class="details f-fl">
                                            <h3 class="name">墙体拆改砌筑阶段</h3>
                                            <div class="desc">
                                                设计师现场交底时必须与施工人员同时进行；设计师准备标准的施工图纸一份带有客户签字的，然后在准备三到四份原始空白图纸；实际情况交底过程中有变化时；设计师需将调整过的水电位置标明在图纸上.最后客户和施工人员（必须是负责人签字）签字确认，设计师将图纸带回公司保留。
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="itm-content f-oh">
                                        <img src="images/shejibao/sjb_tcs-1.jpg" class="pic f-db f-fl">
                                        <div class="details f-fl">
                                            <h3 class="name">墙体拆改砌筑阶段</h3>
                                            <div class="desc">
                                                设计师现场交底时必须与施工人员同时进行；设计师准备标准的施工图纸一份带有客户签字的，然后在准备三到四份原始空白图纸；实际情况交底过程中有变化时；设计师需将调整过的水电位置标明在图纸上.最后客户和施工人员（必须是负责人签字）签字确认，设计师将图纸带回公司保留。
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a class="next">
                            <img src="images/shejibao/arrow-right.png" class="f-db"></a>
                        <a class="prev">
                            <img src="images/shejibao/arrow-left.png" class="f-db"></a>
                    </div>
                </div>
            </div>
            <!-- 施工全程 end-->

            <!-- PK -->
            <div class="m-pk">
                <div class="m-content">
                    <div class="u-table">
                        <div class="thead">
                            <div class="tr">
                                <div class="td itm1 f-tac">
                                    <img src="images/shejibao/sjb_pk-1.png" class="f-ib">
                                </div>
                                <div class="td itm2 f-tac">
                                    <img src="images/shejibao/sjb_pk-2.png" class="f-ib">
                                </div>
                                <div class="td itm3 f-tac">
                                    <img src="images/shejibao/sjb_pk-3.png" class="f-ib">
                                </div>
                            </div>
                        </div>
                        <div class="tbody">
                            <div class="tr">
                                <div class="td itm1 f-tar">免费！</div>
                                <div class="td itm2 f-tac">设计费</div>
                                <div class="td itm3 f-tal">￥50～300/m2（部分公司有免费设计）</div>
                            </div>
                            <div class="tr">
                                <div class="td itm1 f-tar">全部5年以上资深设计师有大量实际操作案例</div>
                                <div class="td itm2 f-tac">设计师</div>
                                <div class="td itm3 f-tal">可水平参差不齐，可能完全没经验，拿不出代表性作品</div>
                            </div>
                            <div class="tr">
                                <div class="td itm1 f-tar">免费沟通咨询、出平面设计图免费安排车辆接送您来沟通方案</div>
                                <div class="td itm2 f-tac">设计沟通服务</div>
                                <div class="td itm3 f-tal">部分公司提供免费平面设计图</div>
                            </div>
                            <div class="tr">
                                <div class="td itm1 f-tar">设计师亲自上门，免费服务</div>
                                <div class="td itm2 f-tac">量房服务</div>
                                <div class="td itm3 f-tal">多数让助理去现场量房</div>
                            </div>
                            <div class="tr">
                                <div class="td itm1 f-tar">全部13套图纸，共28-40张（仅收取￥30/m2制图费）</div>
                                <div class="td itm2 f-tac">绘制图纸</div>
                                <div class="td itm3 f-tal">根据设计费而定，一般给到10张左右。设计费一般为￥50～300/m2</div>
                            </div>
                            <div class="tr">
                                <div class="td itm1 f-tar">全程跟踪，主动服务，7×12小时随时待命</div>
                                <div class="td itm2 f-tac">施工跟踪</div>
                                <div class="td itm3 f-tal">80%以上会撒手不管，20%会象征性跟踪几次</div>
                            </div>
                            <div class="tr">
                                <div class="td itm1 f-tar">量房当天现场出精准预算报价报价完全公开，您可以和别家做对比！</div>
                                <div class="td itm2 f-tac">预算报价</div>
                                <div class="td itm3 f-tal">量房后5天左右出来没签约一般不会给报价单！怕您去比价！</div>
                            </div>
                            <div class="tr">
                                <div class="td itm1 f-tar">白纸黑字写明，职责清晰</div>
                                <div class="td itm2 f-tac">设计师职责</div>
                                <div class="td itm3 f-tal">口头答应</div>
                            </div>

                        </div>
                    </div>

                    <div class="othermsg f-tac f-ma">
                        <h2 class="title">友情提示</h2>
                        <div class="desc">
                            <p>如果别家公司说是免费设计，请注意不要上当，仔细核对如上表格项目；</p>
                            <p>如果是收费设计，请仔细对比钉子装修的服务项目和费用，是谁家性价比最高，相信一目了然！</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PK -->

        </div>
        <!-- 主要内容 end-->

        <!-- 侧边栏 -->
        <ul class="g-slidebar">
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-1.png">
                    <p>关注</p>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-2.png">
                    <p>分享</p>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-3.png">
                    <p>预约</p>
                </a>
            </li>
            <li class="goTop">
                <a href="javascrpt:;">
                    <img src="images/slidebar-4.png">
                    <p>TOP</p>
                </a>
            </li>
        </ul>
        <!-- 侧边栏 end-->

        <!-- 锚点滚动 -->
        <div class="g-sjb-scroll">
            <div class="f-tac">
                <ul class="u-list f-oh f-ib">
                    <li class="f-fl itm">
                        <img src="images/shejibao/sjb_icon-1.png" class="pic">
                        <div class="desc">
                            <p>免费量房</p>
                            <p>现场报价</p>
                        </div>
                    </li>
                    <li class="f-fl itm">
                        <img src="images/shejibao/sjb_icon-2.png" class="pic">
                        <div class="desc">
                            <p>免费设计</p>
                            <p>多套方案</p>
                        </div>
                    </li>
                    <li class="f-fl itm">
                        <img src="images/shejibao/sjb_icon-3.png" class="pic">
                        <div class="desc">
                            <p>全部13套</p>
                            <p>设计图纸</p>
                        </div>
                    </li>
                    <li class="f-fl itm">
                        <img src="images/shejibao/sjb_icon-3.png" class="pic">
                        <div class="desc">
                            <p>施工全程</p>
                            <p>跟踪服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 锚点滚动 end-->

        <!-- 底部浮动块 -->
        <div class="g-fbottom">
            <div class="fbt-content f-oh">
                <div class="f-fl desc">
                    <span>钉子装修</span>
                    <span class="desc-2">划算靠谱</span>
                </div>
                <a href="javascrpt:;" class="u-link f-fl">
                    <img src="images/hp_btn-1.png" class="f-db">
                </a>
                <div class="f-fl tel">客服电话<span class="phone">021-66292135</span></div>
            </div>
        </div>
        <!-- 底部浮动块 end-->

        <!-- 尾部 -->
        <div class="g-ft">
            <div class="ft-content">
                <ul class="u-list f-oh">
                    <li class="f-fl list-1 f-pr">
                        <img src="images/ft-1.png" class="f-db ft-logo">
                        <div class="f-oh serve">
                            <div class="f-fl itm">358套餐</div>
                            <div class="f-fl itm">免费设计包</div>
                            <div class="f-fl itm">服务品质</div>
                        </div>
                    </li>
                    <li class="f-fl list-2">
                        <p class="name">客服热线</p>
                        <div class="tel">
                            <p class="p1">021-66292135</p>
                            <p class="p2">工作时间：9:00-18:00</p>
                        </div>
                    </li>
                    <li class="f-fl list-3">
                        <img src="images/ft-3.png">
                    </li>
                </ul>
                <div class="wrap f-tac">
                    沪ICP备©2014-2015 52dingzi.com , All Rights Reserved
                </div>
            </div>
        </div>
        <!-- 尾部 end-->
    </div>



    <script>
        $(function(){
            page.init();
            page.shejibao.init();
        });
    </script>
</body>
</html>