<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>钉子装修——358套餐</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="css/nec.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery-1.8.0.min.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="g-doc">
        <!-- 头部 -->
        <div class="g-hd">
            <div class="g-hd-c f-oh">
                <div class="m-logo f-fl">
                    <a href="index.html">
                        <img src="images/logo.png" class="">
                    </a>
                </div>
                <div class="m-nav f-fl">
                    <a href="taocan.html" class="u-link">358套餐</a>
                    <a href="shejibao.html" class="u-link">免费设计包</a>
                    <a href="serve.html" class="u-link">服务品质</a>
                </div>
                <div class="m-more f-fr">
                    <a href="javascrpt:;" class="u-link">
                        <img src="images/head_1.png">
                        <p>报名预约</p>
                    </a>
                    <a href="javascrpt:;" class="u-link">
                        <img src="images/head_2.png">
                        <p>关于我们</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 头部 end-->

        <!-- 主要内容 -->
        <div class="g-bd">
            <!-- banner -->
            <div class="m-tc-banner">
            </div>
            <!-- banner end-->

            <!-- offerDetail -->
            <div class="m-od">
                <div class="od-content m-content">
                    <h1 class="title f-tac f-pr">
                        经典清包套餐
                    </h1>
                    <div class="f-tac">
                        <ul class="u-nav f-ib f-oh">
                            <li class="active f-fl">
                                <img src="images/taocan/tc_od-1.jpg" class="f-db">
                                <p>水电工程</p>
                            </li>
                            <li class="f-fl">
                                <img src="images/taocan/tc_od-2.jpg" class="f-db">
                                <p>泥瓦工程</p>
                            </li>
                            <li class="f-fl">
                                <img src="images/taocan/tc_od-3.jpg" class="f-db">
                                <p>木工工程</p>
                            </li>
                            <li class="f-fl">
                                <img src="images/taocan/tc_od-4.jpg" class="f-db">
                                <p>油漆工程</p>
                            </li>
                            <li class="f-fl">
                                <img src="images/taocan/tc_od-5.jpg" class="f-db">
                                <p>免费服务</p>
                            </li>
                        </ul>
                    </div>
                    <div class="u-tab">
                        <div class="tab tab1 active">
                            <table border="1px" class="u-table">
                                <thead>
                                    <tr class="t-success">
                                        <th class="itm1">施工内容</th>
                                        <th class="itm2">施工量及材料说明</th>
                                        <th class="itm3">自购项目</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="itm1">水管排放</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">PPR水管及配件客户自购</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布网络线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">网络线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电话线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电话线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电视线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电视线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布音箱线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">音响线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">壁挂电视预埋管</td>
                                        <td class="itm2">不限量，包含人工和辅料费用，管径50、75的中财PVC管及配件</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">电线管及水管开槽</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（含砖槽、混泥土槽）</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">马桶移位</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（伟星专用PVC移位器）移位距离最大不能超过三米</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">开关、插座</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">开关插座面板</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯头盒及盖板</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理配电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">配电箱套装</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理弱电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">弱电箱及多媒体设备</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（水晶灯除外）</td>
                                        <td class="time3">灯具</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">厨卫洁具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">水槽、马桶、浴缸、台盆、花洒等</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">水电五金件安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">三角阀、地漏、金属软管等</td>
                                    </tr>
                                </tbody>
                            </table>
                            <dl class="u-dl">
                                <dt>客户须知：</dt>
                                <dd>厨房煤气管移位及配件不包含在服务范围内。客户需和煤气公司联系，由煤气公司统一安装。</dd>
                                <dd>地面找平高度在3CM内，超出3CM部分，每增加1CM，收取10元/平方米的费用</dd>
                                <dd>客户如需地面自流平找平，按照25元/平方米收取费用。</dd>
                                <dd>由于老墙墙面酥松，需铲墙至基体，按照45元/平方米收取费用。</dd>
                                <dd>瓷砖特殊铺贴，拼花和造型铺贴等，按照45元/平方收取费用。</dd>
                                <dd>中央空调、地暖、净水系统、弱电智能系统配套施工费，按上海市人工指导价标准收取3.5%（按产品价格3.5%计算）。</dd>
                            </dl>
                        </div>
                        <div class="tab tab2">
                            <table border="1px" class="u-table">
                                <thead>
                                    <tr class="t-success">
                                        <th class="itm1">施工内容222</th>
                                        <th class="itm2">施工量及材料说明22</th>
                                        <th class="itm3">自购项目22</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="itm1">排布电话线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电话线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电视线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电视线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布音箱线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">音响线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">壁挂电视预埋管</td>
                                        <td class="itm2">不限量，包含人工和辅料费用，管径50、75的中财PVC管及配件</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">电线管及水管开槽</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（含砖槽、混泥土槽）</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">马桶移位</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（伟星专用PVC移位器）移位距离最大不能超过三米</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">开关、插座</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">开关插座面板</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯头盒及盖板</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理配电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">配电箱套装</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理弱电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">弱电箱及多媒体设备</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（水晶灯除外）</td>
                                        <td class="time3">灯具</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">厨卫洁具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">水槽、马桶、浴缸、台盆、花洒等</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">水电五金件安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">三角阀、地漏、金属软管等</td>
                                    </tr>
                                </tbody>
                            </table>
                            <dl class="u-dl">
                                <dt>客户须知：</dt>
                                <dd>厨房煤气管移位及配件不包含在服务范围内。客户需和煤气公司联系，由煤气公司统一安装。</dd>
                                <dd>地面找平高度在3CM内，超出3CM部分，每增加1CM，收取10元/平方米的费用</dd>
                                <dd>客户如需地面自流平找平，按照25元/平方米收取费用。</dd>
                                <dd>由于老墙墙面酥松，需铲墙至基体，按照45元/平方米收取费用。</dd>
                                <dd>瓷砖特殊铺贴，拼花和造型铺贴等，按照45元/平方收取费用。</dd>
                                <dd>中央空调、地暖、净水系统、弱电智能系统配套施工费，按上海市人工指导价标准收取3.5%（按产品价格3.5%计算）。</dd>
                            </dl>
                        </div>
                        <div class="tab tab3">
                            <table border="1px" class="u-table">
                                <thead>
                                    <tr class="t-success">
                                        <th class="itm1">施工内容333</th>
                                        <th class="itm2">施工量及材料说明333</th>
                                        <th class="itm3">自购项目</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="itm1">水管排放</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">PPR水管及配件客户自购</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布网络线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">网络线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电话线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电话线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电视线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电视线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布音箱线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">音响线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">壁挂电视预埋管</td>
                                        <td class="itm2">不限量，包含人工和辅料费用，管径50、75的中财PVC管及配件</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">电线管及水管开槽</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（含砖槽、混泥土槽）</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">马桶移位</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（伟星专用PVC移位器）移位距离最大不能超过三米</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">开关、插座</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">开关插座面板</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯头盒及盖板</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理配电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">配电箱套装</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理弱电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">弱电箱及多媒体设备</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（水晶灯除外）</td>
                                        <td class="time3">灯具</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">厨卫洁具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">水槽、马桶、浴缸、台盆、花洒等</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">水电五金件安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">三角阀、地漏、金属软管等</td>
                                    </tr>
                                </tbody>
                            </table>
                            <dl class="u-dl">
                                <dt>客户须知：</dt>
                                <dd>厨房煤气管移位及配件不包含在服务范围内。客户需和煤气公司联系，由煤气公司统一安装。</dd>
                                <dd>地面找平高度在3CM内，超出3CM部分，每增加1CM，收取10元/平方米的费用</dd>
                                <dd>客户如需地面自流平找平，按照25元/平方米收取费用。</dd>
                                <dd>由于老墙墙面酥松，需铲墙至基体，按照45元/平方米收取费用。</dd>
                                <dd>瓷砖特殊铺贴，拼花和造型铺贴等，按照45元/平方收取费用。</dd>
                                <dd>中央空调、地暖、净水系统、弱电智能系统配套施工费，按上海市人工指导价标准收取3.5%（按产品价格3.5%计算）。</dd>
                            </dl>
                        </div>
                        <div class="tab tab4">
                            <table border="1px" class="u-table">
                                <thead>
                                    <tr class="t-success">
                                        <th class="itm1">施工内4444容</th>
                                        <th class="itm2">施工量及44材料说明</th>
                                        <th class="itm3">自购项444目</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="itm1">水管排放</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">PPR水管及配件客户自购</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布网络线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">网络线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电话线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电话线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电视线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电视线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布音箱线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">音响线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">壁挂电视预埋管</td>
                                        <td class="itm2">不限量，包含人工和辅料费用，管径50、75的中财PVC管及配件</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">电线管及水管开槽</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（含砖槽、混泥土槽）</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">马桶移位</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（伟星专用PVC移位器）移位距离最大不能超过三米</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">开关、插座</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">开关插座面板</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯头盒及盖板</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理配电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">配电箱套装</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理弱电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">弱电箱及多媒体设备</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（水晶灯除外）</td>
                                        <td class="time3">灯具</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">厨卫洁具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">水槽、马桶、浴缸、台盆、花洒等</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">水电五金件安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">三角阀、地漏、金属软管等</td>
                                    </tr>
                                </tbody>
                            </table>
                            <dl class="u-dl">
                                <dt>客户须知：</dt>
                                <dd>厨房煤气管移位及配件不包含在服务范围内。客户需和煤气公司联系，由煤气公司统一安装。</dd>
                                <dd>地面找平高度在3CM内，超出3CM部分，每增加1CM，收取10元/平方米的费用</dd>
                                <dd>客户如需地面自流平找平，按照25元/平方米收取费用。</dd>
                                <dd>由于老墙墙面酥松，需铲墙至基体，按照45元/平方米收取费用。</dd>
                                <dd>瓷砖特殊铺贴，拼花和造型铺贴等，按照45元/平方收取费用。</dd>
                                <dd>中央空调、地暖、净水系统、弱电智能系统配套施工费，按上海市人工指导价标准收取3.5%（按产品价格3.5%计算）。</dd>
                            </dl>
                        </div>
                        <div class="tab tab5">
                            <table border="1px" class="u-table">
                                <thead>
                                    <tr class="t-success">
                                        <th class="itm1">施工555内容</th>
                                        <th class="itm2">施工555量及材料说明</th>
                                        <th class="itm3">自购555项目</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="itm1">水管排放</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">PPR水管及配件客户自购</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布网络线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">网络线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电话线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电话线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布电视线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">电视线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">排布音箱线</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">音响线</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">壁挂电视预埋管</td>
                                        <td class="itm2">不限量，包含人工和辅料费用，管径50、75的中财PVC管及配件</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">电线管及水管开槽</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（含砖槽、混泥土槽）</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">马桶移位</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（伟星专用PVC移位器）移位距离最大不能超过三米</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">开关、插座</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">开关插座面板</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯头盒及盖板</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">无</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理配电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">配电箱套装</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">安装、整理弱电箱</td>
                                        <td class="itm2">包含人工和辅料费用</td>
                                        <td class="time3">弱电箱及多媒体设备</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">灯具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用（水晶灯除外）</td>
                                        <td class="time3">灯具</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">厨卫洁具安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">水槽、马桶、浴缸、台盆、花洒等</td>
                                    </tr>
                                    <tr>
                                        <td class="itm1">水电五金件安装</td>
                                        <td class="itm2">不限量，包含人工和辅料费用</td>
                                        <td class="time3">三角阀、地漏、金属软管等</td>
                                    </tr>
                                </tbody>
                            </table>
                            <dl class="u-dl">
                                <dt>客户须知：</dt>
                                <dd>厨房煤气管移位及配件不包含在服务范围内。客户需和煤气公司联系，由煤气公司统一安装。</dd>
                                <dd>地面找平高度在3CM内，超出3CM部分，每增加1CM，收取10元/平方米的费用</dd>
                                <dd>客户如需地面自流平找平，按照25元/平方米收取费用。</dd>
                                <dd>由于老墙墙面酥松，需铲墙至基体，按照45元/平方米收取费用。</dd>
                                <dd>瓷砖特殊铺贴，拼花和造型铺贴等，按照45元/平方收取费用。</dd>
                                <dd>中央空调、地暖、净水系统、弱电智能系统配套施工费，按上海市人工指导价标准收取3.5%（按产品价格3.5%计算）。</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!-- offerDetail end-->

            <!-- 材料清单 -->
            <div class="m-bom">
                <div class="m-content">
                    <h1 class="title f-tac f-pr">
                        工程材料清单
                    </h1>
                    <div class="f-tac">
                        <ul class="u-list f-ib">
                            <li class="f-fl">
                                <img src="images/taocan/tc_bom-1.png" class="f-db f-ma pic">
                                <div class="details">
                                    <p>木工板</p>
                                    <p>石膏板</p>
                                    <p>电线管</p>
                                    <p>暗盒</p>
                                    <p>灯头盒</p>
                                    <p>PVC管</p>
                                    <p>胶水</p>
                                    <p>腻子粉</p>
                                    <p>水泥</p>
                                    <p>黄沙</p>
                                    <p>防水涂料</p>
                                    <p>网格布</p>
                                    <p>硅胶</p>
                                    <p>填缝剂</p>
                                </div>
                            </li>
                            <li class="f-fl">
                                <img src="images/taocan/tc_bom-1.png" class="f-db f-ma pic">
                                <div class="details">
                                    <p>兔宝宝E1级</p>
                                    <p>圣戈班</p>
                                    <p>伟星</p>
                                    <p>伟星</p>
                                    <p>伟星</p>
                                    <p>中财</p>
                                    <p>中南</p>
                                    <p>壁丽宝</p>
                                    <p>海螺325</p>
                                    <p>中粗</p>
                                    <p>东方雨虹</p>
                                    <p>道筹</p>
                                    <p>道康宁</p>
                                    <p>韦伯</p>
                                </div>
                            </li>
                            <li class="f-fl">
                                <img src="images/taocan/tc_bom-1.png" class="f-db f-ma pic">
                                <div class="details">
                                    <p>1220*2440*18</p>
                                    <p>1220*2440*9</p>
                                    <p>PVC,3米/根,直径20mm</p>
                                    <p>PVC</p>
                                    <p>PVC</p>
                                    <p>直径40/50，PVC</p>
                                    <p>801无甲醛</p>
                                    <p>国标</p>
                                    <p>国标</p>
                                    <p>国标</p>
                                    <p>吉仕涂101防水</p>
                                    <p>6300*1000</p>
                                    <p>防霉</p>
                                    <p>白色防水</p>
                                </div>
                            </li>
                            <li class="f-fl itm2">
                                <img src="images/taocan/tc_bom-1.png" class="f-db f-ma pic">
                                <div class="details">
                                    <p>各种</p>
                                    <p>用于吊顶、造型及隔墙等</p>
                                    <p>用于电线套管 穿线管 电工管 电线保护管</p>
                                    <p>用于开关、插座底盒及线管连接</p>
                                    <p>用于吊顶内光源的线管连接</p>
                                    <p>用于壁挂电视预埋及排水管</p>
                                    <p>用水拌灰批墙、拌水泥、贴墙砖</p>
                                    <p>用于墙顶面基层找平</p>
                                    <p>用于墙地砖铺贴及土建</p>
                                    <p>用于墙地砖铺贴及土建</p>
                                    <p>用于厨房、卫生间的墙、地面防水等</p>
                                    <p>用于墙体的裂缝及其它墙面破损</p>
                                    <p>用于边角收口、贴玻璃</p>
                                    <p>用于瓷砖勾缝</p>
                                </div>
                            </li>
                            <li class="clearBoth"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 材料清单 end-->

            <!-- 极致工艺 -->
            <div class="m-ap">
                <h1 class="title f-tac f-pr">
                    极致工艺
                </h1>
                <div class="group group1">
                    <div class="m-content f-tac">
                        <div class="details f-pr f-ib">
                            <img src="images/taocan/tc_title-1.png" class="titlePic f-db">
                            <div class="f-dt ap-row">
                                <div class="f-dtc ap-col">
                                    <h3 class="name">水电定位</h3>
                                    <div class="desc">
                                        <p class="f-pr">同一房间,同高度相差不大于3MM,卫生间阳台开关插座不低于1.3M,并选用防溅式。</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">线管、水管开槽 </h3>
                                    <div class="desc">
                                        <p class="f-pr">横平竖直，预埋管不得露外面，(砖槽宽槽内每增加一根管则实际工程量增加0.6米，混凝土槽宽槽内每增加一根管则实际工程量增加1米)。</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">放线</h3>
                                    <div class="desc">
                                        <p class="f-pr">管内穿线截面积不超过管径的40％，强弱电不得穿在统一管内，大功率固定电器单独成回路。</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">水管加压测试</h3>
                                    <div class="desc">
                                        <p class="f-pr">8-10公斤加压测试不小于30分钟，无减压。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group group2">
                    <div class="m-content f-tac">
                        <div class="details f-pr f-ib">
                            <img src="images/taocan/tc_title-2.png" class="titlePic f-db">
                            <div class="f-dt ap-row">
                                <div class="f-dtc ap-col">
                                    <h3 class="name">砌墙</h3>
                                    <div class="desc">
                                        <p class="f-pr">横平竖直，弹线定位，码头定位放样</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">粉墙</h3>
                                    <div class="desc">
                                        <p class="f-pr">1:3水泥砂浆填充、扫毛、找平。</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">包下水管道</h3>
                                    <div class="desc">
                                        <p class="f-pr">表面应垂直方正，粉刷平整。无脱落、掉灰现象。 </p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">安装门槛石</h3>
                                    <div class="desc">
                                        <p class="f-pr">清理基层，水泥砂浆湿贴。</p>
                                        <p class="f-pr">粘贴牢固平整。 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="f-dt ap-row">
                                <div class="f-dtc ap-col">
                                    <h3 class="name">厨房卫生水泥找平</h3>
                                    <div class="desc">
                                        <p class="f-pr">清理基层，严禁破坏防水层。</p>
                                        <p class="f-pr">用水泥、黄砂，平均厚度2cm以内，要求表面平整、顺平、无空鼓。</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">客厅卧室水泥找平</h3>
                                    <div class="desc">
                                        <p class="f-pr">原地面基层清理，表面带胶水泥浆拉毛处理。</p>
                                        <p class="f-pr">基层现场拌制细石混凝土，面层水泥砂浆粗抹平。</p>
                                        <p class="f-pr">完成面水平误差≤5mm/2m</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">防水</h3>
                                    <div class="desc">
                                        <p class="f-pr">卫生间墙面防水30CM，淋浴房高度1.8M。</p>
                                        <p class="f-pr">施工后24小时闭水试验，保证防水有效后进入下道工序。</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col">
                                    <h3 class="name">瓷砖铺贴</h3>
                                    <div class="desc">
                                        <p class="f-pr">清理基层，墙砖用水泥砂浆湿贴，地砖用水泥砂浆干贴，周边顺直，空鼓率符合国家标准。</p>
                                        <p class="f-pr">无明显高低，缝隙均匀，水平误差率2m范围≤2㎜。3、阳角拼贴切磨45°对角，无缺口、爆边。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group group3">
                    <div class="m-content f-tac">
                        <div class="details f-pr f-ib">
                            <img src="images/taocan/tc_title-3.png" class="titlePic f-db">
                            <div class="f-dt ap-row">
                                <div class="f-dtc ap-col ap-col2">
                                    <h3 class="name">门套打底</h3>
                                    <div class="desc">
                                        <p class="f-pr">卧室门洞口尺寸修整至地面完成面以上修正修方；其它洞口修正修方，门洞垂直，兜方。</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col ap-col2">
                                    <h3 class="name">石膏板吊顶</h3>
                                    <div class="desc">
                                        <p class="f-pr">大面积吊顶中心起拱为总高2%。</p>
                                        <p class="f-pr">阴角顺直、对角整齐。</p>
                                        <p class="f-pr">小面积吊顶应平整、阴角顺直、对角整齐、无错位。</p>
                                        <p class="f-pr">跨度超过1米用主龙骨。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group group4">
                    <div class="m-content f-tac">
                        <div class="details f-pr f-ib">
                            <img src="images/taocan/tc_title-4.png" class="titlePic f-db">
                            <div class="f-dt ap-row">
                                <div class="f-dtc ap-col ap-col2">
                                    <h3 class="name">墙顶面基层批腻子</h3>
                                    <div class="desc">
                                        <p class="f-pr">结合层处理：涂刷均匀，增加基层和腻子层的结合力；</p>
                                        <p class="f-pr">墙面凹凸不平整人工调制腻子处理，达到平整度要求。</p>
                                        <p class="f-pr">满批腻子三遍，干燥后带灯打磨；</p>
                                        <p class="f-pr">满墙铺贴网格布抗裂</p>
                                    </div>
                                </div>
                                <div class="f-dtc ap-col ap-col2">
                                    <h3 class="name">墙顶面滚涂乳胶漆</h3>
                                    <div class="desc">
                                        <p class="f-pr">墙面三遍面漆，漆面无明显凹凸感、刷纹和流坠，无漏刷、泛色。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 极致工艺 end-->
        </div>
        <!-- 主要内容 end-->

        <!-- 侧边栏 -->
        <ul class="g-slidebar">
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-1.png">
                    <p>关注</p>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-2.png">
                    <p>分享</p>
                </a>
            </li>
            <li>
                <a href="javascrpt:;">
                    <img src="images/slidebar-3.png">
                    <p>预约</p>
                </a>
            </li>
            <li class="goTop">
                <a href="javascrpt:;">
                    <img src="images/slidebar-4.png">
                    <p>TOP</p>
                </a>
            </li>
        </ul>
        <!-- 侧边栏 end-->

        <!-- 锚点滚动 -->
        <div class="g-scroll">
            <div class="f-tac">
                <ul class="u-list f-oh f-ib">
                    <li class="f-fl itm">
                        <img src="images/taocan/tc_icon-1.png" class="pic">
                        <p>报价明细</p>
                    </li>
                    <li class="f-fl itm">
                        <img src="images/taocan/tc_icon-2.png" class="pic">
                        <p>材料清单</p>
                    </li>
                    <li class="f-fl itm">
                        <img src="images/taocan/tc_icon-3.png" class="pic">
                        <p>工艺说明</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 锚点滚动 end-->

        <!-- 底部浮动块 -->
        <div class="g-fbottom">
            <div class="fbt-content f-oh">
                <div class="f-fl desc">
                    <span>钉子装修</span>
                    <span class="desc-2">划算靠谱</span>
                </div>
                <a href="javascrpt:;" class="u-link f-fl">
                    <img src="images/hp_btn-1.png" class="f-db">
                </a>
                <div class="f-fl tel">客服电话<span class="phone">021-66292135</span></div>
            </div>
        </div>
        <!-- 底部浮动块 end-->

        <!-- 尾部 -->
        <div class="g-ft">
            <div class="ft-content">
                <ul class="u-list f-oh">
                    <li class="f-fl list-1 f-pr">
                        <img src="images/ft-1.png" class="f-db ft-logo">
                        <div class="f-oh serve">
                            <div class="f-fl itm">358套餐</div>
                            <div class="f-fl itm">免费设计包</div>
                            <div class="f-fl itm">服务品质</div>
                        </div>
                    </li>
                    <li class="f-fl list-2">
                        <p class="name">客服热线</p>
                        <div class="tel">
                            <p class="p1">021-66292135</p>
                            <p class="p2">工作时间：9:00-18:00</p>
                        </div>
                    </li>
                    <li class="f-fl list-3">
                        <img src="images/ft-3.png">
                    </li>
                </ul>
                <div class="wrap f-tac">
                    沪ICP备©2014-2015 52dingzi.com , All Rights Reserved
                </div>
            </div>
        </div>
        <!-- 尾部 end-->
    </div>



    <script>
        $(function(){
            page.init();
            page.taocan.init();
        });
    </script>
</body>
</html>